.slider1 {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20px; */
  /* box-shadow: 0px 0px 10px 0px rgb(100, 85, 85); */
  /* padding-right: 45px; */
}

@media (min-width: 500px) {
  .slider1 {
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 20px; */
    /* box-shadow: 0px 0px 10px 0px rgb(100, 85, 85); */
    /* padding-right: 45px; */
  }
}
@media (min-width: 1210px) {
  .slider1 {
    width: 40%;
    /* margin-left: auto;
    margin-right: auto;
  

    /* padding-right: 45px; */
    margin-top: 30px;
  }
}

.slider1 li {
  border-radius: 20%;
  cursor: pointer;
  text-align: center;
  padding: 0px;

  overflow: hidden;

  /* height: 120px; */
  /* margin-right: 20px; */
  /* margin: 0px 5px; */
}
.slider1 img {
  /* background-color: rgb(59, 10, 236); */

  margin: auto auto;
}

.slider1 li:hover {
  /* text-decoration: none; */
  /* background-color: rgb(59, 10, 236); */
  background-color: #393185;
}

.slider2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
}

.slider2 img {
  /* background-color: rgb(59, 10, 236); */

  margin: auto auto;
}

.cards:hover {
  box-shadow: 0px 0px 1px 0px rgb(100, 85, 85);
}
.cards {
  /* margin: 20px; */
  padding-bottom: 20px;
}

.header {
  height: 250px;
  background-color: #393185;
  text-align: center;
  padding-top: 50px;
  margin: auto;
  color: aliceblue;
}
