.testimonials {
  background: url("/testimonial_banner.jpg");
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed;
}

.testimonials .item {
  margin-top: 20px;
  padding-bottom: 60px;
  padding-top: 40px;
}
.testimonials .container-items {
  background: #20201e86;

  padding: 40px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.testimonials .text {
  font-size: 20px;
  font-weight: 400;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 40px;
}

.qt-open {
  /* content: open-quote; */
  font-family: Georgia;
  /* font-weight: bold; */

  font-size: 100px;
  color: #7474e5;
  position: absolute;
  font-style: normal;
  bottom: 30;
  top: 160px;
  left: 230px;
}
.qt-close {
  /* content: close-quote; */

  font-family: Georgia;
  font-style: normal;
  font-size: 100px;
  color: #7474e5;
  top: 245px;
  position: absolute;

  margin-left: 40px;
}

@media screen and (max-width: 769px) {
  .testimonials .container-items {
    width: 90%;
  }
  .testimonials .text {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .qt-open {
    position: absolute !important;

    bottom: 30 !important;
    top: 160px !important;
    left: 30px !important;
  }

  .qt-close {
    position: absolute !important;
    top: 45% !important;
    right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .testimonials .container-items {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .testimonials .text {
    font-size: 16px !important;
    font-weight: 350 !important;

    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .qt-open {
    font-size: 80px !important;

    position: absolute !important;

    bottom: 30 !important;
    top: 150px !important;
    left: 27px !important;
  }
  .qt-close {
    font-size: 80px !important;

    position: absolute !important;
    top: 53% !important;
    right: 30px;
  }
}
