.mytaxicabslider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;

  bottom: -1500px;
}

.mytaxicabslider img {
  margin: auto auto;
}
.mytaxicabslider li {
  height: 120px;
  padding-top: 10px;
}
.mytaxicabslider h5 {
  color: var(--rstlog-color);
}
.slick-slide,
.slick-slide * {
  outline: none !important;
}
