.nav-bar1 {
  background-color: var(--nav1-color);
  color: rgb(249, 249, 250);
  height: 30px !important;
}
@media screen and (min-width: 500px) {
  .nav-bar2 {
    height: 65px;
  }
}

/* .scroll {
  background-color: #eeee1a !important;
} */

.scrolled {
  background-color: red;
}

.nav-items {
  /* font-size: 20px !important; */
  font-weight: 500;
  color: #393185 !important;
  text-align: center;
}

.nav-bar2 .active {
  color: #20201e !important;
}
.nav-bar2 li {
  width: 150px;
  text-align: center;
}

.nav-bar2 .nav-items:hover {
  color: #20201e !important;
}

.nav__submenu {
  display: none;
}

.nav-menu-item:hover .nav__submenu {
  display: block;
}

.nav__submenu {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 17px;
  /* text-transform: none; */
  display: none;
  position: absolute;

  list-style: none;
  width: 150px;

  background-color: white;
}

.nav__submenu-item {
  text-align: left !important;
  margin-left: -20px;
  color: var(--rstlog-color) !important;
}

/* .nav__submenu-item:hover {
  color: var(--nav1-color);
} */
