:root {
  --rstlog-color: #393185;
  --nav1-color: #1e1e1e;
}

.App {
  text-align: center;
}
body {
  background-color: #f7f7f7 !important;
}

.drop {
  background-color: #f9f953;
}

.dropdown-content {
  display: none;

  /* position: absolute; */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(231, 8, 8, 0.973);
  /* z-index: 1; */
}

.nav-h {
  height: 40px;
}

.nav-brand-font {
  font-size: 25px !important;
  font-weight: 500;
  color: var(--rstlog-color) !important;
}

@media only screen and (max-width: 600px) {
  .nav-brand-font {
    margin-left: 0;
    font-size: 15px !important;
    font-weight: 610 !important;
  }
}

.ccard {
  box-shadow: 0px 0px 5px 2px rgba(141, 197, 145, 0.904);
  border-radius: 20px;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 170px;
  padding: 20px;
  margin: 10px;
}

.ccard p {
  font-size: 15px;
  float: left;
}

.socialMedia:hover {
  color: aliceblue;
  cursor: pointer;
}

.title-line {
  width: 60px;
  height: 2px;
  margin: 5px auto 20px auto;
  background: #ffff;
}

.title-line-contact {
  width: 40px;
  height: 3px;
  margin: 15px auto 25px 0;
  background-color: var(--rstlog-color);
}

svg {
  /* display: inline-block; */
  position: absolute;
  /*  top: 0;
  left: 0; */
  width: 100%;
  /* background-color: red; */
  height: 200px;
  /* background-color: red; */
  /* 
  pointer-events: "none"; */
}
.container1 {
  display: inline-block;
  /* position: absolute; */
  /* width: 100%; */
  /* padding-bottom: 100%; */
  vertical-align: middle;
  overflow: hidden;
  /* top: 0;
  left: 0; */
}

/* blockquote {
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: -30px;
}

blockquote h3 {
  font-size: 21px;
} */

/* about */

.about h3,
.mytaxicab h3 {
  color: var(--rstlog-color);
}
.about p,
.mytaxicab p {
  text-indent: 50px;
  text-align: justify;
  text-justify: inter-word;
}
